<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qbwyyds.community.community.dao.DiscussPostMapper">
    <!--><-->
    <sql id="selectField">
        id, <include refid="insertField"></include>
    </sql>
    <sql id="insertField">
        user_id, title, content, type, status, create_time, comment_count, score
    </sql>
    <!-->dao中返回的是list<DiscussPost> resultType可以只写DiscussPost<-->
    <!-->动态sql用<if test=""><-->
    <select id="selectDiscussPosts" resultType="DiscussPost">
        select <include refid="selectField"></include>
        from discuss_post where status != 2
        <if test="userId!=0">
            and user_id=#{userId}
        </if>
        order by type desc, create_time desc
        limit #{offset}, #{limit}
    </select>

    <select id="selectDiscussPostRows">
        select count(user_id)
        from discuss_post where status != 2
        <if test="userId!=0">
            and user_id=#{userId}
        </if>
    </select>

    <select id="selectDisscusPostByid" resultType="DiscussPost">
        select <include refid="selectField"></include>
        from discuss_post where id=#{id}
    </select>

    <insert id="insertDisscussPost" parameterType="DiscussPost" keyProperty="id">
        insert into discuss_post (<include refid="insertField"></include>)
        values(#{userId},#{title},#{content},#{type},#{status},#{createTime},#{commentCount},#{score})
    </insert>
</mapper>